<div class="container-fluid recipe-list">
    <h1>Friendly Spoon</h1>
    <h3>is here for you!</h3>
    <div class="row main-row">
        <div class="col-xs-11">
            <form role="form">
                <label for="searchText">Search recipes</label>
                <br />
                <input class="form-control" type="text" id="searchText" #listFilter [(ngModel)]="listfilter" (keyup)="0" placeholder="Filter recipes"> </form>
        </div>
    </div>
    <div class="row main-row">
        <div class="col-xs-11">
            <label>Tags</label>
            <select class="form-control" (change)="tagChange($event.target.value)">
                <option></option>
                <option *ngFor="let tag of tags" value="{{tag.title}}">{{tag.title}}</option>
            </select>
        </div>
    </div>
    <div class="row main-row">
        <div class="col-xs-11 buttons-row">
            <h5 style="float:left">Sort by:  </h5>
            <a class="btn btn-default" (click)="sortByName()">ABC <span class="glyphicon glyphicon-sort"></span></a> <a class="btn btn-default" (click)="sortByRating()">Rating <span class="glyphicon glyphicon-sort"></span></a> <a class="btn btn-default" (click)="sortByTime()">Time <span class="glyphicon glyphicon-sort"></span></a>            <a class="btn btn-default" (click)="random()">Pick a random recipe!</a> <a class="btn btn-default" (click)="refreshRecipes()">Refresh recipe list <span class="glyphicon glyphicon-refresh"></span></a></div>
    </div>
    <div class="row main-row">
        <div class="col-xs-11">
            <div *ngIf="!loading">
            <table class="table">
                <thead>
                    <tr class="recipe-list-headers">
                    <th class="col-md-4"> <a (click)="sortByName()">Recipe</a> </th>
                    <th class="col-md-3"> <a (click)="sortByRating()">Rating</a> </th>
                    <th class="col-md-4"> Tags </th>
                    <th class="col-md-3"> <a (click)="sortByTime()">Time</a> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let recipe of recipes| filter:listFilter.value | orderBy: order">
                        <td><a routerLink="/recipes/{{recipe.id}}"> {{recipe.name}}</a> </td>
                        <td><span *ngIf="recipe.ratingaverage">{{recipe.ratingaverage}} / 10</span></td>
                        <td> <span *ngFor="let tag of recipe.recipe_tags" class="label label-default">{{tag.title}}</span> </td>
                        <td> <span *ngIf="recipe.duration">{{recipe.duration.range}}</span> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="loading" class="loading-div">
            <img src="img/gears.svg" align="center"><br>
            Fetching recipes from the nether realms..
        </div>
        </div>
    </div>
</div>
