<div class="container-fluid recipe-list" [@fadeIn]="on">
    <h1 class="main-header">Friendly Spoon - is here for you!</h1>
    <h4 class="sub-header">Enjoy your stay.</h4>
    <h4 class="sub-header"><span *ngIf="recipes"><span class="recipe-count">{{recipes.length}}</span> recipes and counting!</span></h4>

    <hr>
    <div class="row main-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <md-input [typeahead]="shownRecipes" [typeaheadOptionField]="'name'" class="recipe-search" type="text" id="searchText" #listFilter [(ngModel)]="listfilter" (keyup)="0" placeholder="Search recipes"><span md-suffix class="clearbutton glyphicon glyphicon-remove" (click)="clearSearch()"></span></md-input>
        </div>
    </div>
    <div class="row main-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!--<label>Filter by tags</label>-->
            
        </div>
    </div>
    <div class="row main-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 buttons-row">

            <!--<span class="sortlabel" style="float:left">Sort by:</span>
            <select style="width: 150px; float: left;" class="form-control" [(ngModel)]="order">
                <option value="name">Alphabetical</option>
                <option value="namereverse">Alphabetical - descending</option>
                <option value="rating">Rating</option>
                <option value="ratingreverse">Rating - descending</option>
                <option value="time">Cooking time</option>
                <option value="timereverse">Cooking time - descending</option>
                <option value="date">Creation date</option>
                <option value="datereverse">Creation date - descending</option>
            </select>-->
            <div class="button-row-item">
                <select class="form-control tag-select" (change)="tagChange($event.target.value)">
                    <option value="" selected>Filter by tags</option>
                    <option *ngFor="let tag of tags" value="{{tag.title}}">{{tag.title}}</option>
                </select>
            </div>
            <div class="button-row-item">
                <button md-raised-button class="sortButton" (click)="sortByName()">ABC <i class="fa fa-sort"></i></button>
            </div>
            <div class="button-row-item">
                <button md-raised-button class="sortButton" (click)="sortByRating()">Rating <i class="fa fa-sort"></i></button>
            </div>
            <div class="button-row-item">
                <button md-raised-button class="sortButton" (click)="sortByTime()">Time <i class="fa fa-sort"></i></button>
            </div>
            <div class="button-row-item">
                <button md-raised-button class="sortButton" (click)="sortByDate()">Created <i class="fa fa-sort"></i></button>
            </div>

        </div>
        <div class="buttons-row">
            <div class="button-row-item">
                <button md-raised-button class="sortButton toolbutton" (click)="random()" data-toggle="modal" data-target="#myModal"><i class="fa fa-random" aria-hidden="true"></i></button>
            </div>
            <div class="button-row-item">
                <button md-raised-button class="sortButton toolbutton" (click)="refreshRecipes()" ><i class="fa fa-refresh" aria-hidden="true"></i></button>
            </div>
            <br> 
        </div>
            
        <div>
        <div style="text-align:center">
            <span class="pagination-control">

        <!-- <custom-pagination [id]="1" [maxSize]="7" #pagination (pageChange)="p = $event"></custom-pagination> -->       
        <pagination-template #pagination="paginationApi" (pageChange)="p = $event">
          <div class="custom-pagination">

              <div class="pagination-previous" [class.disabled]="pagination.isFirstPage()">
                <button [disabled]="pagination.isFirstPage()" (click)="pagination.previous()"> <i
                  class="fa fa-arrow-left" aria-hidden="true"></i> </button>
              </div>

              <div *ngFor="let page of pagination.pages" class="pages"
                   [class.current]="pagination.getCurrent() === page.value">
                <a (click)="pagination.setCurrent(page.value)" *ngIf="pagination.getCurrent() !== page.value">
                <span>{{ page.label }}</span> </a>
            <div *ngIf="pagination.getCurrent() === page.value"> <span>{{ page.label }}</span> </div>
        </div>
        <div class="pagination-next" [class.disabled]="pagination.isLastPage()">
            <button [disabled]="pagination.isLastPage()" (click)="pagination.next()">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    </pagination-template>
    </span>
    </div>
</div>
</div>
<div class="row main-row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div>
            <div *ngIf="!loading" class="cards-container">
                <div class="card card-inverse recipe-card " style="width: 300px; " *ngFor="let recipe of shownRecipes | filter:listFilter.value | orderBy: order | paginate: { itemsPerPage: 9, currentPage: p } " [@recipeSlide]="in">
                    <img *ngIf="recipe.coverpicture " class="card-img " style="width:300px " src="{{baseUrl}}{{recipe.coverpicture.picture.medium.url}} ">
                    <img *ngIf="!recipe.coverpicture " class="card-img " src="assets/placeholder_thumb.png ">
                    <div class="card-img-overlay card-header-content">
                        <a routerLink="/recipes/{{recipe.id}}">
                            <h4 class="card-title ">{{recipe.name}}</h4>
                        </a>
                        <p class="card-text card-header-content">
                            <span *ngIf="recipe.ratingaverage ">
                             <rating [ratingStates]="ratingStates" [(ngModel)]="recipe.ratingaverage" [readonly]="true"></rating>
                            </span>
                            <span *ngIf="!recipe.ratingaverage ">
                                No ratings
                            </span>
                        </p>
                        <p class="card-text card-header-content">{{recipe.duration.range}}</p>
                        <div style="float:right; margin-top:-43px;">
                            <span class="tag" [class.tag-danger]="recipe.level.id == 3" [class.tag-warning]="recipe.level.id == 2" [class.tag-success]="recipe.level.id == 1">{{recipe.level.level}}</span>
                        </div>
                        <p class="card-text card-introduction"><i>{{recipe.introduction}}</i></p>

                    </div>

                </div>
                <div class="row backtop-div ">
                    <pagination-template #pagination="paginationApi" (pageChange)="p = $event">
                        <div class="custom-pagination">
                            <div class="pagination-previous" [class.disabled]="pagination.isFirstPage()">
                                <button [disabled]="pagination.isFirstPage()" (click)="pagination.previous()">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div *ngFor="let page of pagination.pages" class="pages" [class.current]="pagination.getCurrent() === page.value">
                                <a (click)="pagination.setCurrent(page.value)" *ngIf="pagination.getCurrent() !== page.value">
                                    <span>{{ page.label }}</span> </a>
                                <div *ngIf="pagination.getCurrent() === page.value"> <span>{{ page.label }}</span> </div>
                            </div>
                            <div class="pagination-next" [class.disabled]="pagination.isLastPage()">
                                <button [disabled]="pagination.isLastPage()" (click)="pagination.next()">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </pagination-template>
                    <div style="width:100%" class="row">
                        <span class="glyphicon glyphicon-chevron-up"></span><span class="backtop-link" (click)="scrollToTop()"><strong> Back to top </strong></span><span class="glyphicon glyphicon-chevron-up"></span></div>
                </div>
            </div>

        </div>

        <div *ngIf="loading" class="loading-div"><i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i> <br> Fetching recipes from the nether realms..
        </div>
    </div>


</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <random-recipe [randomRecipe]="randomRecipe"></random-recipe>
</div>