a{
  color:black;
  text-decoration: none;
}

a:link {

}

/* visited link */
a:visited {

}

/* mouse over link */
a:hover {

}

/* selected link */
a:active {

}

.recipe-search{
  width: 100%;
}

.buttons-row {
  padding: 10px;
}
.recipe-list {
  min-height: 120em;
}

.table a {
  color:black;
}
.recipe-list-headers th{
  background-color: #f4f4f0;
  color: black;
}
.loading-div {
  text-align:center;
  padding-top: 30px;
}
md-card {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  min-width: 400px;

}
