a {
  color: black;
  text-decoration: none;
}

a:link {

}

/* visited link */
a:visited {

}

/* mouse over link */
a:hover {

}

/* selected link */
a:active {

}

.refresh {
  color: green;
}

.recipe-search {
  width: 85%;
  float:left;
}
.clearbutton {
  width: 15%;
}

.buttons-row {
  padding: 10px;
  text-align: center;
}

.recipe-list {
  min-height: 120em;
}

.table a {
  color: black;
}

.recipe-list-headers th {
  background-color: #f4f4f0;
  color: black;
}

.loading-div {
  text-align: center;
  padding-top: 30px;
}

md-card {
  margin: 5px;
  float: left;
  width: 100%;
  height: 225px;

}
