$darkGreen: #022f32;
$mainWhite: #f4f4f0;
$shadow-color: #888888;
$header-pink: #cc6699;
$button-grey: #dddddd;
@import url(https://fonts.googleapis.com/css?family=The+Girl+Next+Door|Loved+by+the+King|Handlee|Amatic+SC|Clicker+Script|Homemade+Apple);
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre');
$cursive-font: 'Handlee',
cursive;
$main-font: 'Ubuntu',
sans-serif;
$font-family-base: $main-font !important;
.spoon-empty {
    color: lightgray;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.spoon-filled {
    color: #FFD700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.spoon-empty-inverse {
    color: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.spoon-filled-inverse {
    color: #FFD700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}