@import '../styles/_variables.scss';

/* vaakasuora viiva pääotsikon ja aliotsikoiden alla */
.hline {
  margin-top: 0px;
  width: 100%;
}

/* vaakasuora kikkailuviiva desktopnäkymässä kuvien alla */
.subline {
  margin-top: 29px;
  width: 130%;
}

/* kuvat reseptinäkymässä */
.recipe-img {
  margin-top: 10px;
  border-radius: 25px;
  width: 100%;
}

.recipe-img-last {
  margin-top: 10px;
  border-radius: 25px;
  width: 100%;
}

/* Listan tyylit, ei palloja eikä jäätävää sisennystä */
ul {
  list-style-type: none;
}

li {
  margin-left: -20px;
}

/* pääotsikon tyylit, lähemmäs viivaa */
.main-heading {
  margin-top: 25px;
  margin-bottom: 0px;
  color: $header-pink;

}

/* pääotsikkorivin nappuloiden tyylit */
.header-btn {
  margin-top: 32px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 80px;
  color: white;
  background-color: $button-grey;
  border-radius: 10px 10px 0px 0px;
  float: right;
}

.button-group {
  float: right;
  padding-left: 0px;
}

.header-btn:hover {
  color: white;
}

/* aliotsikkojen tyylit */
.sub-heading {
  color: black;
}

/* Valmistusohjeen divider, vähän ylemmäs kuin norm */
.instruction-div {
  margin-top: -5px;
}

/* Kellot "Time"-otsikon alla */
.timespan {
  margin-left: 3px;
}

.empty-div {
  height: 200px;
}

/*sarakkeet note-näkymässä */
.dangerzone {
  background: repeating-linear-gradient(
    45deg,
    #eee,
    #eee 10px,
    red 10px,
    red 20px
  );
}

.savetools {
  margin-top: 10px;
}

.keywords-public {
  margin-top: 10px;
}

.keyword-input {
  width: 100%
}

.save {
  border: 1px solid black;
}

.maincont {
  position: relative;
  min-height: 100%;
}

.maindiv {

  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $mainWhite;
}
.tag-label {
  background-color: $header-pink;
  margin-right: 5px;
  font-family: $cursive-font;
  color: white;
  font-size: 100%;
}
.tag-display {
  border-radius: 25px;
}

.mobile-button {
  color: black;
  
  padding: 5px;
  width:19vw;
  float: left;
  border: 1px solid black;
}

.mobile-button1 {
 color: black;
  
  padding: 5px;
  width:19vw;
  float: left;
  border: 1px solid black;
}
.mobile-button2 {
 color: black;
  padding: 5px;
  width:19vw;
  float: right;
  border: 1px solid black;
}
.mobile-button-first {
  float: left;
  margin-left: -15px;
}
.mobile-buttons {
  width: 100vw;
  background-color: $button-grey;
  margin-left: -20px;
}
