@import '../../styles/_variables.scss';
.notebox {
    margin-bottom: 7px;
}

.rating {}

.note {
    margin-bottom: 10px;
}

.timestamp {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.remove-note {
    position: absolute;
    top: 5px;
    right: 5px;
}