@import '../../styles/_variables.scss';
.notebox {
    margin-bottom: 7px;
}

.rating {}

.note {
    margin-bottom: 10px;
}

.timestamp {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.remove-note {
    position: absolute;
    top: 5px;
    right: 5px;
}

.note-input-form {
    border: 1px solid gray;
    width: 100%;
}

.percent-display {
    text-align: center;
    font-size: 20px;
}

.note-textarea {
    height: 200px;
    margin: 10px auto;
    margin-top: 30px;
}

.rating-input {
    margin: 5px auto;
}

.checkboxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checkboxgroup img {
    display: block;
    margin-left: -10px;
}

.checkboxgroup {
    text-align: center;
    margin: 0px 15px;
}