<div class="col-sm-10 col-md-10">
  <h4 class="sub-heading">Notes</h4>
  <!--    <table class="table">
        <tbody>
            <tr *ngFor="let note of recipe.notes">
                <td class="note-td">
                    <div [hidden]="note.rating == null"> <b>Rating:
                    </b>
                        {{note.rating}}
                    </div>
                    <br/><b>Note:</b> {{note.note}} </td>
                <td> <span>{{note.created_at | date:'short'}}</span> </td>
                <div [hidden]="'recipe.current_user_id' != 'note.user_id'">
                    <td> <span ng-show="recipe.current_user_id == note.user_id">
              <a class="btn btn-danger" ng-click="deleteNote(note.id, $index)">Remove</a>
            </span> </td>
                </div>
            </tr>
        </tbody>
    </table> -->

  <md-card class="notebox" *ngFor="let note of recipe.notes">
    <h5 class="note"><i>{{note.note}}</i></h5>
    <h5 class="rating"><b>Rating: </b><rating [(ngModel)]="note.rating"></rating></h5>

    <span *ngIf="note.user_id == user_id" class="glyphicon glyphicon-remove remove-note" (click)="deleteNote(note)"></span>
    <h5 class="timestamp"><b>At: </b>{{note.created_at | date:'short'}} <b>By: </b>{{note.username}}</h5>


</md-card>

  <div *ngIf="!savingNote" class="col-sm-10 col-md-10 note-input-form">
    <input class="form-control" id="note" name="note" type="text" [(ngModel)]="note.note" placeholder="Type a new note here" />
    <rating class="rating-input" [(ngModel)]="note.rating" [float]="true" ></rating>
    <a class="btn btn-default note-submit" (click)="saveNote(note)" type="submit">Submit</a>
  </div>
  <div *ngIf="savingNote" class="col-sm-10 col-md-10 note-input-form">
    <img src="img/gears.svg">
    <h4>Saving note..</h4>
  </div>



</div>
