.notebox {
  margin-bottom: 7px;

}
.note-input {
  width:70%;
  float:left;
  margin-left: -15px;
}
.rating-input {
  float:left;
}
.rating {

}
.note {
  margin-bottom: 10px;
}
.note-submit{
  width: 15%;
}
.timestamp {
 position:absolute;
 bottom: 5px;
 right: 5px;
}
.remove-note {
position:absolute;
top: 5px;
right: 5px;
}
.notebody {
  float:left;
}
