<h3>Pictures {{pictures.length}}/3</h3>
  <div class="picture-container col-md-3" *ngFor="let picture of pictures">
    <img style="float:left;" src="{{baseUrl}}{{picture.picture.thumb.url}}">
    <button md-raised-button class="picture-button" color="accent" (click)="deletePic(picture)">Delete</button>
    <div *ngIf="recipe.cover_picture_id != picture.id">
      <button md-raised-button class="picture-button" color="primary" (click)="changeCoverPicture(picture.id)">Select</button>
    </div>
    <div class="picture-button cover-indicator" *ngIf="recipe.cover_picture_id == picture.id">
      <button md-raised-button class="picture-button" color="primary" disabled>Cover Picture</button>
    </div>
  </div>
<div class="col-md-10" *ngIf="recipe.recipe_pictures.length < 3">
  <h3>Upload a new picture</h3>
  <div *ngIf="!loading">
  <label class="btn btn-default btn-file">
  Browse <input type="file" style="float:left; display:none;" accept="image/*" (change)="changeListener($event)">
  </label>
  <span>File: {{fileName}}</span>
  <button  md-raised-button (click)="uploadPic()">Save</button>
  </div>
  <div *ngIf="loading">
    <img src="assets/gears.svg">
  </div>
</div>
