.tag-add-field {
  width:75%;
}
.tag-add-button  {
  border-radius: 0px 0px 0px 0px !important;
}
.tag-label {
  background-color: #cc6699;
  margin-right: 5px;
  font-family: 'Handlee', cursive;
  color: white;
  font-size: 100%;
}
.tag-display {
  border-radius: 25px;
}
.pointer {
  cursor: pointer;
}

md-card {
  margin-top: 10px;
}
