<div *ngIf="!editheading">
  <h4>Tags</h4>
  <md-grid-list cols="4" rowHeight="30px" gutterSize="4px">
    <md-grid-tile *ngFor="let recipetag of recipe.recipe_tags" class="tag-label tag-display">{{recipetag.tag.title}}</md-grid-tile>
  </md-grid-list>
</div>
<div *ngIf="editheading">
  <md-card>
    <md-card-title>Current tags</md-card-title>
    <md-card-subtitle>click to remove</md-card-subtitle>
    <!--<div *ngIf="addingTag"> <img src="assets/ellipsis.svg"> </div>-->
    <md-grid-list cols="4" rowHeight="30px" gutterSize="4px">
      <md-grid-tile *ngFor="let recipetag of recipe.recipe_tags" class="tag-label pointer" (click)="removeRecipeTag(recipetag)">{{recipetag.tag.title}}</md-grid-tile>
      <md-grid-tile *ngIf="addingTag"><img src="assets/ellipsis.svg"></md-grid-tile>
    </md-grid-list>
  </md-card>
  <md-card>
    <md-card-title>Available tags</md-card-title>
    <md-card-subtitle>Click to add to recipe</md-card-subtitle>
    <md-grid-list cols="4" rowHeight="30px" gutterSize="4px">
      <md-grid-tile *ngFor="let tag of recipe.allTags" class="tag-label pointer" (click)="saveRecipeTag(tag)">{{tag.title}}</md-grid-tile>
    </md-grid-list>
  </md-card>
  <md-card>
    <md-card-title>Create a new Tag</md-card-title>
    <md-card-subtitle>This will be added to the recipe</md-card-subtitle>
    <md-input [(ngModel)]="tag.title" placeholder="Tag title" class="tag-add-field"></md-input>
    <button class="btn btn-success tag-add-button" (click)="saveTag()">Create</button>
  </md-card>
</div>
