<div class="container container-fluid">
  <div class="col-md-5">

    <md-card>
          <md-card-title>Edit Tags</md-card-title>
      <md-list>
        <md-list-item *ngFor="let tag of tags">
          <md-input [(ngModel)]="tag.title"></md-input> <a class="btn btn-success" (click)="saveTag(tag)">Save</a> <a class="btn btn-danger" (click)="deleteTag(tag)">Delete</a> </md-list-item>
          <md-list-item *ngIf="tags.length == 0">
            <h4>The list appears to be empty, huh.</h4>
          </md-list-item>
      </md-list>
    </md-card>
  </div>
  <div class="col-md-5">
    <md-card *ngIf="!savingTag">
      <md-card-title>Create a Tag</md-card-title>
      <md-input [(ngModel)]="newTag.title"></md-input> <a class="btn btn-success" (click)="saveTag(newTag)">Save</a>
  </md-card>
  <md-card *ngIf="savingTag">
    <img src="img/ellipsis.svg">
    Saving tag..
  </md-card>
     </div>

</div>
