@import 'styles/_variables.scss';

.username2 {
  font-family: $cursive-font;
}
main {
  background-color: $mainWhite;
}
.copyright {
  float:none;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: 'Handlee', cursive;
  background-color: rgba(0,0,0,0.5);
  margin-top: -40px;
  box-shadow: 1px 1px 1px #888888;
}
