<div>
  <h4>{{group.name}}</h4>
  <input class="ingredient-add-field form-control" #listFilter{{index}} type="text" [(ngModel)]="ingredient.name" placeholder="Ingredient" /> <a class="btn btn-success ingredient-add-button" (click)="saveIngredient()">Create</a>
</div>
<table class="table">
  <tbody>
    <tr *ngFor="let listingredient of group.ingredients | reverseFilter:listFilter.value">
      <td>{{listingredient.name}}
        <br/>
        <br/>
        <br/>
        <input class="form-control" type="text" placeholder="instruction" [(ngModel)]="recipe_ingredient.instruction" />

      </td>
      <td>
        <input class="form-control" placeholder="amount" [(ngModel)]="recipe_ingredient.amount">
      </td>
      <td>
        <select class="form-control" [(ngModel)]="recipe_ingredient.unit_id">
          <option *ngFor="let unit of units" value="{{unit.id}}">{{unit.name}}</option>
        </select>
      </td>
      <td>
        <button class="btn" (click)="saveRecipeIngredient(listingredient.id, group.id)">+</button>
      </td>
    </tr>
  </tbody>
</table>
