<md-card>
  <md-card-title>Ingredients</md-card-title>
  <md-card-subtitle>(ungrouped)</md-card-subtitle>
  <md-list dense>
    <div [dragula]='"bag-one"' [dragulaModel]="recipe.recipe_ingredients">
      <div style="min-height: 20px;" *ngIf="!recipe.recipe_ingredients.length">

      </div>
      <div *ngFor="let inc of recipe.recipe_ingredients">
        <md-list-item>
          <p md-line> <b>
    {{inc.ramount.integer}} <span *ngIf="inc.ramount.numerator"><sup>{{inc.ramount.numerator}}</sup>&frasl;<sub>{{inc.ramount.denominator}}</sub></span> {{inc.unit?.name}}
     {{inc.ingredient.name}} <span class="glyphicon glyphicon-remove" style="color:red" (click)="removeRecipeIngredient(inc)"></span>
   </b></p>
          <p md-line> {{inc.instruction}} </p>
        </md-list-item>
      </div>
    </div>
  </md-list>
</md-card>
<!--<div [dragula]='"bag-two"' [dragulaModel]="recipe.recipe_ingredient_groups">-->
<div>
  <div *ngFor="let group of recipe.recipe_ingredient_groups">

    <md-card>
      <md-card-title>{{group.name}} <span (click)="editGroup(group)" class="glyphicon glyphicon-pencil"></span></md-card-title>
      <md-list dense>
        <div [dragula]='"bag-one"' [dragulaModel]="group.recipe_ingredients">
          <div style="min-height: 20px;" *ngIf="!group.recipe_ingredients.length">

          </div>
          <div *ngFor="let inc of group.recipe_ingredients" >
            <md-list-item>
              <p md-line><b>
    {{inc.ramount.integer}} <span *ngIf="inc.ramount.numerator"><sup>{{inc.ramount.numerator}}</sup>&frasl;<sub>{{inc.ramount.denominator}}</sub></span> {{inc.unit?.name}}
     {{inc.ingredient.name}} <span class="glyphicon glyphicon-remove" style="color:red" (click)="removeRecipeIngredient(inc)"></span>
   </b></p>
              <p md-line> {{inc.instruction}} </p>
            </md-list-item>
          </div>
        </div>
      </md-list>
      <md-card-actions>
        <button md-button (click)="deleteGroup(group)">Delete Group</button>
        <span class="group-handle glyphicon glyphicon-move"></span>
      </md-card-actions>
    </md-card>
  </div>
</div>
<div *ngIf="addingRecInc"> </div>
<md-card>
  <md-card-title>Add Ingredients</md-card-title>
  <md-input class="ingredient-create-field" #listFilter [(ngModel)]="ingredient.name" placeholder="Ingredient name"> </md-input> <a class="btn btn-success ingredient-create-button" (click)="saveIngredient()">Create</a>
  <div *ngIf="!addingRecInc">
    <div class="ingredient-add-box" *ngFor="let listingredient of ingredients | reverseFilter:listFilter.value">
      <h4 class="ingredient-header">{{listingredient.name}}</h4>
      <input class="form-control ingredient-amount-field" type="text" placeholder="Amount" [(ngModel)]="recipe_ingredient.amount">
      <select class="form-control info ingredient-unit-select" [(ngModel)]="recipe_ingredient.unit_id">
        <option value="" [selected]="!recipe_ingredient.unit_id">Unit</option>
        <option *ngFor="let unit of units" value="{{unit.id}}">{{unit.name}}</option>
      </select>
      <button class="btn btn-success ingredient-add-button" (click)="saveRecipeIngredient(listingredient.id)" [disabled]="addingRecInc">Add to Recipe</button>
      <input class="form-control ingredient-instruction-field" type="text" placeholder="Instruction - optional" [(ngModel)]="recipe_ingredient.instruction" />
      <select class="form-control info ingredient-instruction-field" [(ngModel)]="recipe_ingredient.recipe_ingredient_group_id">
        <option class="info" value="" [selected]="!recipe_ingredient.recipe_ingredient_group_id">Group</option>
        <option *ngFor="let group of recipe.recipe_ingredient_groups" value="{{group.id}}">{{group.name}}</option>
      </select>
    </div>
  </div>
  <div class="ingredient-add-box" *ngIf="addingRecInc"> <img src="assets/gears.svg"> Adding.. </div>
</md-card>
<md-card>
  <md-card-title>New ingredient group</md-card-title>
  <md-card-subtitle>eg. "Frosting"</md-card-subtitle>
  <md-input class="ingredient-create-field" [(ngModel)]="recipe_ingredient_group.name" placeholder="New Group"> </md-input> <span *ngIf="!addingGroup"><a class="btn btn-success ingredient-create-button" (click)="saveGroup()">Create</a></span> <span *ngIf="addingGroup"><a class="btn btn-warning ingredient-create-button" disabled="disabled">Adding</a></span> </md-card>
