<div [@fadeIn]="on">
  <h4 class="sub-heading">Ingredients I need <a data-toggle="modal" data-target="#cartModal"  (click)="shoppingCart()">
    <span class="fa-stack">
      <i class="cart fa fa-shopping-cart fa-stack-2x"></i>
      <i class="fa fa-plus fa-stack-1x"></i>
    </span>
    </a></h4>
  <hr class="hline" />
  <div>
    <md-list dense>
      <md-list-item *ngFor="let inc of recipe.recipe_ingredients | orderBy: 'indexinmukaan'">
        <md-checkbox type="checkbox" (click)="toggleInc(inc)">

          <span *ngIf="inc.amount" [innerHTML]="inc.amount | fractioner: multiplier"></span> {{inc.unit?.name}} {{inc.ingredient.name}} {{inc.instruction}}
        </md-checkbox>
      </md-list-item>
    </md-list>
  </div>
  <div *ngFor="let group of recipe.recipe_ingredient_groups | orderBy: 'indexinmukaan'">
    <h4>{{group.name}}</h4>
    <md-list dense>
      <md-list-item *ngFor="let inc of group.recipe_ingredients | orderBy: 'indexinmukaan'">
        <md-checkbox type="checkbox" (click)="toggleInc(inc)">
          <span *ngIf="inc.amount"><span *ngIf="inc.amount" [innerHTML]="inc.amount | fractioner: multiplier"></span></span> {{inc.unit?.name}} {{inc.ingredient.name}} {{inc.instruction}}
        </md-checkbox>
      </md-list-item>
    </md-list>
  </div>
  <h4 class="sub-heading">Ingredients I have</h4>
  <hr class="hline" />
  <md-list dense>
    <md-list-item *ngFor="let inc of checked">
      <md-checkbox type="checkbox" (click)="unToggleInc(inc)" [checked]="true">
        <span *ngIf="inc.amount" [innerHTML]="inc.amount | fractioner:multiplier"></span> {{inc.unit?.name}} {{inc.ingredient.name}} {{inc.instruction}}
      </md-checkbox> <br/> </md-list-item>
  </md-list>
</div>


<div class="modal fade" id="cartModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" *ngIf="allIngredients">
      <div class="modal-header" style="background-color:#022f32;color:white;"><h4 style="float:left;">Add to shopping cart</h4> <button type="button" class="close" style="color:white;" data-dismiss="modal">&times;</button> </div>
      <div class="modal-body">
        <p *ngFor="let inc of allIngredients" [@fadeIn]="on">
          <span [innerHTML]="inc.amount | fractioner:multiplier"></span> <strong>{{inc.unit?.name}} {{inc.ingredient.name}}</strong> <span (click)="addToCart(inc)" ><i class="fa fa-plus"></i></span>
        </p>
        <p *ngIf="allIngredients.length == 0">
          No ingredients to be added :((())) <span class="glyphicon glyphicon-grain"></span>
        </p>

       </div>
      <div class="modal-footer">
     </div>
    </div>
  </div>
</div>
