@import '../../styles/_variables.scss';
li {
    list-style: none;
}

.cart {
    cursor: copy;
    color: green;
}

.cart-inc {
    background-color: #eee;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px $shadow-color;
    height: 60px;
}

.cart-add {
    float: right;
    margin: auto;
}

.checked-ingredient {
    text-decoration: line-through;
    color: dimgray;
}

.empty-list {
    p {
        color: lightgray;
        font-style: italic;
    }
    min-height: 100px;
}