<div [@fadeIn]="on">
    <h4 class="sub-heading">Ingredients
        <a (click)="manualMultiplier()"> </a>I need
        <a data-toggle="modal" data-target="#cartModal" (click)="shoppingCart()">
            <i class="cart fa fa-shopping-cart"></i>
        </a>
    </h4>
    <hr class="hline" />
    <div *ngIf="recipe.recipe_ingredients.length == 0" class="empty-list">
        <p>This ingredient group is empty.</p>
    </div>
    <div>
        <md-list dense>
            <md-list-item *ngFor="let inc of recipe.recipe_ingredients | orderBy: 'indexinmukaan'">
                <md-checkbox class="ingredient" type="checkbox" (click)="toggleInc(inc)">
                    <b>
          <span *ngIf="inc.amount" [innerHTML]="inc.amount | fractionize:multiplier"></span> {{inc.unit?.name}} {{inc.ingredient.name | capitalize}}
          </b><i>{{inc.instruction}}</i>
                </md-checkbox>


            </md-list-item>
        </md-list>
    </div>
    <div *ngFor="let group of recipe.recipe_ingredient_groups | orderBy: 'indexinmukaan'">
        <h4>{{group.name}}</h4>
        <div *ngIf="group.recipe_ingredients.length == 0" class="empty-list">
            <p>This ingredient group is empty.</p>
        </div>
        <md-list dense>
            <md-list-item *ngFor="let inc of group.recipe_ingredients | orderBy: 'indexinmukaan'">
                <md-checkbox class="ingredient" type="checkbox" (click)="toggleInc(inc)">
                    <b><span *ngIf="inc.amount"><span *ngIf="inc.amount" [innerHTML]="inc.amount | fractionize:multiplier"></span></span> {{inc.unit?.name}} {{inc.ingredient.name | capitalize}}</b>
                    <i>{{inc.instruction}}</i>
                </md-checkbox>
            </md-list-item>
        </md-list>
    </div>
    <h4 class="sub-heading">Ingredients I have</h4>
    <hr class="hline" />
    <div class="empty-list" *ngIf="checked.length == 0">
        <p>
            Checked ingredients will appear here.
        </p>
    </div>
    <md-list dense>
        <md-list-item *ngFor="let inc of checked">
            <md-checkbox class="checked-ingredient" type="checkbox" (click)="unToggleInc(inc)" [checked]="true">
                <span *ngIf="inc.amount" [innerHTML]="inc.amount | fractionize:multiplier"></span> {{inc.unit?.name}} {{inc.ingredient.name | capitalize}} <i>{{inc.instruction}}</i>
            </md-checkbox> <br/> </md-list-item>
    </md-list>
</div>


<div class="modal fade" id="cartModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" *ngIf="allIngredients">
            <div class="modal-header" style="background-color:#022f32;color:white;">
                <h4 style="float:left;">Add to shopping cart</h4> <button type="button" class="close" style="color:white;" data-dismiss="modal">&times;</button> </div>
            <div class="modal-body">
                <div *ngFor="let inc of allIngredients" [@fadeIn]="on" class="cart-inc">
                    <span [innerHTML]="inc.amount | fractionize:multiplier"></span> <strong>{{inc.unit?.name}} {{inc.ingredient.name | capitalize}}</strong>
                    <button md-raised-button class="cart-add" color="primary" (click)="addToCart(inc)">Add  <i class="fa fa-plus"></i></button>
                </div>
                <button md-raised-button color="primary" (click)="addAll(allIngredients)">Add all</button>
                <p *ngIf="allIngredients.length == 0">
                    No ingredients to be added :((())) <span class="glyphicon glyphicon-grain"></span>
                </p>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>