<h4 class="sub-heading">Ingredients I need </h4>
<hr class="hline" />
<md-list dense>
  <md-list-item *ngFor="let inc of recipe.recipe_ingredients; let i = index">
    <md-checkbox md-line type="checkbox" (click)="toggleInc(inc)">&#09; <span [hidden]="amount_shown!=1">{{inc.ramount.integer}}
        <span *ngIf="inc.ramount.numerator">
          <sup>{{inc.ramount.numerator}}</sup>&frasl;<sub>{{inc.ramount.denominator}}</sub>
        </span> </span> <span [hidden]="amount_shown!=2">{{inc.double.integer}}
        <span [hidden]="!inc.double.numerator">
          <sup>{{inc.double.numerator}}</sup>&frasl;<sub>{{inc.double.denominator}}</sub>
        </span> </span> <span [hidden]="amount_shown!==-1">{{inc.half.integer}}
        <span [hidden]="!inc.half.numerator">
          <sup>{{inc.half.numerator}}</sup>&frasl;<sub>{{inc.half.denominator}}</sub>
      </span> </span> {{inc.unit?.name}} {{inc.ingredient.name}} </md-checkbox>
      <p md-line>{{inc.instruction}}</p>
  </md-list-item>
</md-list>
<div *ngFor="let group of recipe.recipe_ingredient_groups; let g = index">
  <h4>{{group.name}}</h4>
  <md-list dense>
    <md-list-item *ngFor="let inc of group.recipe_ingredients; let i = index">
      <md-checkbox type="checkbox" (click)="toggleInc(inc)">&#09; <span [hidden]="amount_shown!=1">{{inc.ramount.integer}}
            <span [hidden]="!inc.ramount.numerator">
              <sup>{{inc.ramount.numerator}}</sup>&frasl;<sub>{{inc.ramount.denominator}}</sub>
            </span> </span> <span [hidden]="amount_shown!=2">{{inc.double.integer}}
            <span [hidden]="!inc.double.numerator">
              <sup>{{inc.double.numerator}}</sup>&frasl;<sub>{{inc.double.denominator}}</sub>
            </span> </span> <span [hidden]="amount_shown!==-1">{{inc.half.integer}}
            <span [hidden]="!inc.half.numerator">
              <sup>{{inc.half.numerator}}</sup>&frasl;<sub>{{inc.half.denominator}}</sub>
          </span> </span> {{inc.unit?.name}} {{inc.ingredient.name}} {{inc.instruction}}</md-checkbox>
      </md-list-item>
  </md-list>
</div>
<h4 class="sub-heading">Ingredients I have</h4>
<hr class="hline" />
<md-list dense>
  <md-list-item *ngFor="let inc of checked">
    <md-checkbox type="checkbox" (click)="unToggleInc(inc)" checked="true">&#09;<strike>
<span *ngIf="amount_shown==1">{{inc.ramount.integer}}
<span *ngIf="inc.ramount.numerator">
<sup>{{inc.ramount.numerator}}</sup>&frasl;<sub>{{inc.ramount.denominator}}</sub>
</span>
</span>
<span *ngIf="amount_shown==2">{{inc.double.integer}}
<span *ngIf="inc.ramount.numerator">
<sup>{{inc.double.numerator}}</sup>&frasl;<sub>{{inc.double.denominator}}</sub>
</span>
</span>
<span *ngIf="amount_shown==-1">{{inc.half.integer}}
<span *ngIf="inc.ramount.numerator">
<sup>{{inc.half.numerator}}</sup>&frasl;<sub>{{inc.half.denominator}}</sub>
</span>
</span>
{{inc.unit?.name}}
{{inc.ingredient.name}}</strike> </md-checkbox>
    <br/>
  </md-list-item>
</md-list>
