<div class="container container-fluid" >
  <div *ngIf="user" class="col-xs-13 col-sm-13 col-md-13 col-lg-13" [@fadeIn]="on" >
    <h1>{{user.name}}'s page</h1>
    <md-tab-group>

      <md-tab>
        <template md-tab-label>General</template>
        <template md-tab-content>
          <h4>General information</h4>
          <p>
            <strong>Number of recipes: </strong> {{user.recipecount}}
          </p>
          <p>
            <strong>Average Rating: </strong> <rating [(ngModel)]="user.averagerating" [readonly]="true"></rating> ( {{user.ratingcount}} ratings )
          </p>
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label>Change Password</template>
        <template md-tab-content>
          <h4>Change Password</h4>
          <md-input [(ngModel)]="user.password" placeholder="Password" type="password"></md-input><br>
          <div *ngIf="passwordAlert" class="alert alert-danger" [@fadeIn]="on">
            {{passwordAlert}}
          </div>
          <md-input  [(ngModel)]="user.password_confirmation" placeholder="Confirm password" type="password"></md-input><br>
          <div *ngIf="confirmationAlert" class="alert alert-danger" [@fadeIn]="on">
            {{confirmationAlert}}
          </div>
          <button md-raised-button color="primary" (click)="changePassword()">Change</button>
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label>Change Information</template>
        <template md-tab-content>
          <h4>Edit Information</h4>
          <form [formGroup]="form" >
          <md-input [formControl]="form.controls['name']"  placeholder="Display Name"></md-input><br>
          <button (click)="saveUser(form.value)" md-raised-button color="primary" ><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
          </form>
        </template>
      </md-tab>

    </md-tab-group>




<!-- Old user page template
    <button md-raised-button (click)="editPass()" class="user-button">Edit password</button>
    <button md-raised-button (click)="editInfo()" class="user-button">Edit information</button>
    <button md-raised-button (click)="hasChanges()" class="user-button">asd asd</button>
    <div *ngIf="changePas" class="password-inputs" [@fadeIn]="on">
      <h4>Change Password</h4>
      <md-input [(ngModel)]="user.password" placeholder="Password" type="password"></md-input><br>
      <div *ngIf="passwordAlert" class="alert alert-danger" [@fadeIn]="on">
        {{passwordAlert}}
      </div>
      <md-input  [(ngModel)]="user.password_confirmation" placeholder="Confirm password" type="password"></md-input><br>
      <div *ngIf="confirmationAlert" class="alert alert-danger" [@fadeIn]="on">
        {{confirmationAlert}}
      </div>
      <button md-raised-button (click)="changePassword()">Change</button>
    </div>
    <div *ngIf="editInfoToggle" class="info-inputs" [@fadeIn]="on">
      <h4>Edit Information</h4>
      <form [formGroup]="form" >
      <md-input [formControl]="form.controls['name']"  placeholder="Display Name"></md-input><br>
      <button (click)="saveUser(form.value)" md-raised-button color="primary" ><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
      </form>
    </div>
    <div *ngIf="message" class="alert alert-success alert-dismissible" role="alert" [@fadeIn]="on">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{message}}
    </div>
-->
  </div>
</div>
