@import url(https://fonts.googleapis.com/css?family=The+Girl+Next+Door|Loved+by+the+King|Handlee|Amatic+SC|Clicker+Script|Homemade+Apple);
body {
  background-image: url(/assets/mainbg.png);
  min-height: 100vh;
}
main {
  background-color: #f4f4f0;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 52px;
  margin-bottom: 50px;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid grey;
}
.navbar-default {
  background-color: #022f32 !important;
}
.navbar-brand {
  color: white !important;
  font-family: 'Handlee', cursive;
}

.navbar a {
  color: white !important;
}
md-card {
  margin-top: 10px;
}

