@import '../styles/_variables.scss';
@media only screen and (max-width: 500px) {
    .day {
        border: 1px solid black;
        width: 100%;
    }
    .weekday {
        display: none;
    }
    .cooked {
        width: 100%;
        background-color: $darkGreen;
        color: white;
    }
    .future {
        width: 100%;
        background-color: grey;
        color: white;
    }
}

@media only screen and (min-width: 501px) {
    .month {
        display: flex;
        flex-flow: row wrap;
    }
    .day {
        border: 1px solid black;
        flex-basis: 13%;
        height: 100px;
    }
    .weekday {
        flex-basis: 13%;
    }
    .current-month {
        color: black;
    }
    .current-day {
        color: blue;
        background-color: pink;
    }
    .filler-month {
        color: white;
        background-color: lightgray;
    }
    .event {}
    .cooked {
        width: 100%;
        background-color: $darkGreen;
        color: white;
    }
    .future {
        width: 100%;
        background-color: grey;
        color: white;
    }
}