    <link rel="stylesheet" href="/app/authentication/signin.css">

<body>
    <div class="sign-in-container container-fluid">


        <div class="container-fluid">

            <div class="row hidden-xs">
                <div class="col-md-10 hidden-xs padder "></div>
            </div>
            <div class="row">
                <div class="col-centered col-md-8  signin-div">

                    <h2 class="signin-header">Welcome to Friendly Spoon</h2>
                    <h2 class="signin-header">Please log in</h2>
                <div *ngIf="!loggingIn">

                    <div class="field-div">
                        <div class="signin-field-container col-centered ">
                            <h4 class="field-header">Username</h4>
                            <input placeholder="Username" class="signin-field" type="text" [(ngModel)]="email">
                        </div>
                        <div class="signin-field-container col-centered ">
                            <h4 class="field-header">Password</h4>
                            <input placeholder="Password" class="signin-field" type="password" [(ngModel)]="password">
                        </div>
                        <div class="signin-field-container col-centered signin-button">
                             <button md-raised-button type="submit" class="signin-button" (click)="submit()">Login</button>
                        </div>

                    </div>
                </div>
                <div *ngIf="loggingIn">
                    <h2 class="signin-header"> Logging in..</h2>
                    <img src="img/ellipsis.svg">
                </div>
                </div>
            </div>
        </div>

    </div>
</body>
