@import '../styles/_variables.scss';


.col-centered {
  float: none;
  margin: 0 auto;
}
.sign-in-container {
  color: white;
  background: $darkGreen url("/assets/signinBG.png") no-repeat center top;
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 200vh;
}
.padder {
  height: 40vh;
}

.signin-div  {
  text-align: center;
  }
.signin-header{
    font-family: $cursive-font;
  text-align: center;
}
.signin-field-container {
  text-align: center;
}
.field-div {
  margin-top: 40px;
}
.signin-field {
  text-align: center;
  color: grey;
  border-radius: 8px;
  width: 250px;
  height: 30px;
}

.signin-button {
  margin-top:20px;
  margin-bottom: 20px;
  color: grey;
}
