<h4>Ingredients</h4>
<table class="table">
  <tr *ngFor="let inc of recipe.recipe_ingredients">
    <td> {{inc.ingredient.name}} </td>
    <td> {{inc.instruction}} </td>
    <td> {{inc.ramount.integer}} <span *ngIf="inc.ramount.numerator"><sup>{{inc.ramount.numerator}}</sup>&frasl;<sub>{{inc.ramount.denominator}}</sub></span> </td>
    <td> {{inc.unit?.name}}</td>
    <td>
      <button class="btn btn-danger" (click)="removeRecipeIngredient(inc)">Remove</button>
    </td>
  </tr>
</table>
<div *ngFor="let group of recipe.recipe_ingredient_groups">
  <h4>{{group.name}}</h4>
  <table class="table">
    <tr *ngFor="let inc of group.recipe_ingredients">
      <td> {{inc.ingredient.name}} </td>
      <td> {{inc.instruction}} </td>
      <td> {{inc.ramount.integer}} <span *ngIf="inc.ramount.numerator"><sup>{{inc.ramount.numerator}}</sup>&frasl;<sub>{{inc.ramount.denominator}}</sub></span> </td>
      <td> {{inc.unit?.name}}</td>
      <td>
        <button class="btn btn-danger" (click)="removeRecipeIngredient(inc)">Remove</button>
      </td>
    </tr>
  </table>

</div>




<h4>Add Ingredients</h4>
<div>
  <input class="ingredient-add-field form-control" #listFilter type="text" [(ngModel)]="ingredient.name" placeholder="Ingredient" /> <a class="btn btn-success ingredient-create-button" (click)="saveIngredient()">Create</a>
</div>

<div class="ingredient-add-box" *ngFor="let listingredient of ingredients | reverseFilter:listFilter.value">
<h4 class="ingredient-header">{{listingredient.name}}</h4>
<input class="form-control ingredient-amount-field" type="text" placeholder="Amount" [(ngModel)]="recipe_ingredient.amount">
<select class="form-control info ingredient-unit-select" [(ngModel)]="recipe_ingredient.unit_id">
  <option value="" [selected]="!recipe_ingredient.unit_id" >Unit</option>
  <option *ngFor="let unit of units" value="{{unit.id}}">{{unit.name}}</option>
</select>
<button class="btn ingredient-add-button" (click)="saveRecipeIngredient(listingredient.id)">Add to Recipe</button>
<input class="form-control ingredient-instruction-field" type="text" placeholder="Instruction - optional" [(ngModel)]="recipe_ingredient.instruction" />
<select class="form-control info ingredient-instruction-field" [(ngModel)]="recipe_ingredient.recipe_ingredient_group_id">
  <option class="info" value="" [selected]="!recipe_ingredient.recipe_ingredient_group_id" >Group</option>
  <option *ngFor="let group of recipe.recipe_ingredient_groups" value="{{group.id}}">{{group.name}}</option>
</select>

</div>
<!--
<div *ngFor="let group of recipe.recipe_ingredient_groups">
  <h4>{{group.name}}</h4>
  <div>
    <input class="ingredient-add-field form-control" #listFilter type="text" [(ngModel)]="ingredient.name" placeholder="Ingredient" /> <a class="btn btn-success ingredient-create-button" (click)="saveIngredient()">Create</a>
  </div>

  <div class="ingredient-add-box" *ngFor="let listingredient of ingredients | reverseFilter:listFilter.value">
  <h4 class="ingredient-header">{{listingredient.name}}</h4>
  <input class="form-control ingredient-amount-field" type="text" placeholder="Amount" [(ngModel)]="recipe_ingredient.amount">
  <select class="form-control ingredient-unit-select" [(ngModel)]="recipe_ingredient.unit_id">
    <option value="" disabled selected="selected" autocomplete="off">Unit</option>
    <option *ngFor="let unit of units" value="{{unit.id}}">{{unit.name}}</option>
  </select>
  <button class="btn ingredient-add-button" (click)="saveRecipeIngredient(listingredient.id, group.id)">Add to Recipe</button>
  <input class="form-control ingredient-instruction-field" type="text" placeholder="Instruction - optional" [(ngModel)]="recipe_ingredient.instruction" />

  </div>

</div>
-->
<!--
<add-recipe-ingredient *ngFor="let group of recipe.recipe_ingredient_groups" [group]="group"> </add-recipe-ingredient>
-->
<h4>Add a new ingredient group, eg. "Frosting"</h4>
<input class="ingredient-add-field form-control" [(ngModel)]="recipe_ingredient_group.name" placeholder="New Group"><a class="btn btn-success ingredient-add-button"  (click)="saveGroup()">Create</a>
